{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            <div class="section-tabs">
                <div class="places">
                    {% if not msg%} 
                        <p>{{places|count}} Place(s) found.</p>
                    {% endif %}
                    {% if msg %}
                        <p style="color: #F44336;">{{msg}}</p>
                    {% endif %}
                    {% for place in places %}
                        <article>
                            <a class="name" href="{{ place['url'] }}" target="_blank">{{place['name']}}</a>
                            <p>{{ place['time'] }} min way</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="section-map">
                <div class="nav">
                    <form method="POST" action="{{ url_for('home') }}" class="home-address-form">
                        {{ form.csrf_token }}
                        <div class="form-group address-inp">
                            {{ form.address.label }}
                            {% if form.address.errors %}
                                {% for error in form.address.errors %}
                                    <p class="error-message">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                            {{ form.address }}
                        </div>

                        <div class="form-group radius-inp">
                            {{ form.radius.label }}
                            {% if form.radius.errors %}
                                {% for error in form.radius.errors %}
                                    <p class="error-message">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                            {{ form.radius }}
                        </div>

                        {{ form.submit(class='btn-primary') }}

                    </form>
                </div>
                <div id='mapid'></div>
            </div>

        </div>
    </main>
    <script>
        // making a list of places 
        var places_list = [
            {% for place in places %}
                [ "<h3><a href='{{ place['url'] }}' target='_blank'> {{ place['name'] }} </a></h3><p>{{ place['time']}} min way", {{place['lat']}}, {{place['lng']}} ],
            {% endfor %} 
        ];

        var mymap = L.map('mapid').setView([ {{ coordinates[0] }}, {{ coordinates[1] }}], 12.5);
        // var mymap = L.map('mapid').setView([51.505, -0.09], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYmVobmFtYm0iLCJhIjoiY2s4aGg5b3RrMDBvajNnczFxN2V3cHVsbSJ9.93jsgeE6VpDmJdcDvPD9nQ'
        }).addTo(mymap);
        
        for(i=0; i < places_list.length; i++){
            var marker = L.marker([ places_list[i][1], places_list[i][2] ])
            .bindPopup(places_list[i][0])
            .addTo(mymap);
        }
    </script>
{% endblock %}